<head>
  <style>
  body{
    background-color: black;
  }

  div#container{
   
    display: inline-block;
    text-align: center;
    color: white;
    background: url("http://4designer.t7yb.net/files/20131210/Cartoon-blue-sky-vector-material-52072.jpg"); 
    background-size: 100% 110%;
    font-family: "Comic Sans MS";  
  }
  div#instruction{
    color: black;
    font-weight: bold;
    font-size: 17px
  }

  </style>
  <br>
  
</head>

<div id="container">
<body>
<h1>Chitter 🐧 </h1> 
<div style="width:300px;height:300px;line-height:3em;overflow:scroll;padding:10px;background-color:#191970;color:#00ffff;border:10px outset #6c6cff;">

<%=@peeps.map{|peep| "#{peep}<br>"}.join%>  



</div>

<div id="instruction">Share your thoughts!<div>
<form action="/homepage" method="get">
<br>
<textarea name="message" rows="5" cols="30"></textarea> <br>
  <br><input type="submit" value="Peep"> <br>
  <br>
</form> 
</body>


