<head>
  <style>
body{
   text-align: center;
   color: white;
   background-color: #48a4ff;
   font-family: "Comic Sans MS";
}
  </style>
</head>

<h1>Welcome to Chitter!</h1>

<form action="/homepage" method="get">
  <input type="submit" value="Log in">
</form> 