body {

font-family: 'Open Sans', sans-serif;

}

.form{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.container{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.square{
  width: 700px;
	height: auto;
	background: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px #D9DBDF;
}

.welcome-msg{
  padding-top: 70px;
  padding-left: 30px
}

.h1{

  text-align: left;
  padding-left: 5px;
  padding-top: 35px;
  font-size: 24px;
}
p{
 padding-right: 30px;
 padding-left: 30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 20px;
 line-height: 100px;
}

.peep-username {
display: flex;
}

.profile-pic{
  width: 100px;
  border: 3px solid #555;
  display: flex;
  border-radius: 50%;
}


.hashtags {
  padding-left: 30px;
  padding-right: 30px;
}

.hashtags .hashtag{
  border: none;
  font-size: 15px;
  color: #442d7d;
  font-style: italic;
}

.created {
  float: right;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #C8C8C8;
  line-height: 18px;
}

.tag-user {
  float: right;
}

.btn {
  background-color: #442d7d;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
