<h2>
 <%= flash[:notice] %>
</h2>

<form action="/chitter/users" method="post">
  <input type="text" name="username" placeholder="User name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Confirm">
</form>
