<% if @user %>
  <h3>Signed in as, <%= @user.username %></h3>

  <form class="" action="peep/new" method="post">
    <input type="text" name="text_area" placeholder=""="Enter Peep">
    <input type="submit" name="submit" value="Peep">
  </form>

<% end %>

<% @peeps.each do |peep| %>
  <ul>
    <li>
      <%= peep.body %>
      <%= peep.created_at %>
    </li>
  </ul>
<% end %>
