<link type="text/css" rel="stylesheet" href="css/peeps_index.css">

<% if @user %>
  <h3>Signed in as, <%= @user.username %></h3>

  <form class="" action="peep/new" method="post">
    <input type="text" name="text_area" placeholder=""="Enter Peep">
    <input type="submit" name="submit" value="Peep">
  </form>

  <% else %>
  <h3>Sign in to use Chitter!</h3>
<% end %>

<% @peeps.each do |peep| %>
  <ul>
    <div class="peep">
      <div class="container">
        <% peep.user.each do |user| %>
          <h4><%= user.username %></h4>
        <% end %>
        <div class="created">
          <%= peep.created_at %>
        </div>
      <p><%= peep.body %></p>
    </div>
  </ul>
<% end %>
