<h2>
 <%= flash[:notice] %>
</h2>

<form action="/sessions" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password"placeholder="Password" />
  <input type="submit" name="submit" value="Sign In" />
</form>

Don't have an account?
<form class="" action="users/new" method="get">
  <input type="submit" name="sign_up" value="Sign Up">
</form>
